@font-face {
    font-family: 'MrRobot';
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/MR ROBOT.woff") format("woff");
}

body {
    background-color: black;
    font-family: 'MrRobot', serif;
    color: white;
    font-size: 1.5rem;
}

form {
    margin: 10rem auto;
    width: 35rem;
    display: flex;
    flex-direction: column;
}

input {
    max-width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid white;
    background-color: black;
    color: white;
    width: 99%;
    margin: 0.5rem 0 1rem;
}

button {
    display: inline-block;
    color: red;
    font-family: 'MrRobot', serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    box-sizing: content-box;

}

a {
    text-decoration: none;
    color: red;
}

p {
    display: flex;
    justify-content: space-between;
}

p > a {
    text-align: right;
}

