@font-face {
    font-family: 'MrRobot';
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/MR ROBOT.woff") format("woff");
}

body {
    background-color: black;
    color: red;
    font-size: 1.5rem;
}

form {
    margin: 10rem auto;
    width: 35rem;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'MrRobot', serif;
    font-size: 7rem;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-bottom: 1rem;
}

p {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

input {
    max-width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-bottom: 0.125rem solid white;
    background-color: black;
    color: white;
    width: 99%;
}

button {
    display: inline-block;
    color: red;
    font-family: 'MrRobot', serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    box-sizing: content-box;
}

li {
    margin-top: 1rem;
}

.cancelbtn:hover {
    background-color: red;
    color: black;
    border: 0.125rem solid red;
}

.signupbtn:hover {
    background-color: green;
    color: white;
    border: 0.125rem solid green;
}

.hidden {
    display: none;
}