@font-face {
    font-family: 'MrRobot';
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/MR ROBOT.woff") format("woff");
}

body {
    background-color: black;
    font-family: 'MrRobot', serif;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    overflow: hidden;
}


input {
    max-width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 0.125rem solid white;
    background-color: black;
    color: white;
    width: 99%;
    margin: 0.5rem 0 1rem;
}

button {
    display: inline-block;
    color: red;
    font-family: 'MrRobot', serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    box-sizing: content-box;
    border-radius: 0.3rem;
}

li {
    margin-top: 1rem;
}

a {
    text-decoration: none;
    font-size: 2rem;
    color: red;
}

a:hover {
    text-decoration: underline;
    color: dodgerblue;
}

form {
    margin: 10rem auto;
    width: 35rem;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*
UTILITY CLASSES
 */

.success {
    color: green;
}

.error {
    color: red;
}

.warning {
    color: orange;
}

.hidden {
    display: none;
}

.not-signed-in {
    margin: 20rem auto;
    top: 50%;
}

.not-signed-in li {
    display: inline;
    margin: 2rem;
}


.login-form p {
    display: flex;
    justify-content: space-between;
}

.login-form a {
    text-align: right;
}


.register h1 {
    font-size: 7rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

.register p {
    display: inline-block;
    color: red;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.register label {
    text-align: left;
}

.register li {
    display: block;
}

.register input {
    margin: 0.5rem 0;
}

.register a {
    width: 50%;
}

.register .nav-buttons {
    display: flex;
    justify-content: space-between;
}

.register .nav-buttons li {
    width: 40%;
}

.register .cancel-btn:hover {
    background-color: red;
    color: black;
    border: 0.125rem solid red;
}

.register .signup-btn:hover {
    background-color: green;
    color: white;
    border: 0.125rem solid green;
}


.challenges {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.challenges ul {
    width: 80%;
}

.challenges li {
    margin: 2rem;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: white 0.1rem solid;
}

.challenge-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 3rem;
}

.challenge-container p {
    width: 30%;
}

.challenge-container button {
    margin: 0;
    width: 30%;
    font-size: 100%;
    height: 100%;
}

.challenge form {
    margin: 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.challenge form input {
    width: 50%;
    margin: 0.5rem;
}

.challenge form button {
    width: 20%;
    color: white;
    margin: 0.5rem;
    background-color: darkgray;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.profile img {
    height: 10%;
    border-radius: 50%;
    margin: 2rem;
    max-width: 25%;
    max-height: 100%;
}

.profile #img-upload-form {
    /* Used to position the input */
    position: relative;

    /* Center the content */
    align-items: center;
    display: flex;

    /* Border */
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

.profile #img-upload-form label {
    cursor: pointer;
    padding: 1rem;
}

.profile #img-upload-form button {
    width: 50%;

}

.profile #img-upload-form input {
    /* Hide the input */
    opacity: 0;
    position: absolute;
    z-index: -1;
}
